#bio {
    margin: 0 auto;
    width: 60%;
    font-family: "Lora";
  }
  .intro::first-letter {
    font-size: 2em;
  }
img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
    border-radius: 10px;
  }
.pdf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
}
.pdf a {
  color: red;
  text-decoration: none;
}
.pdf img {
  height: 30%;
  width: 30%;
}
.pdf p {
text-align: center;
}
