#bio {
    margin: 0 auto;
    width: 80%;
    font-family: "Lora";
    font-size: 1.25em;
  }
  #bio p {
    margin: 0 5% 5% 5%;
  }
  .intro::first-letter {
    font-size: 2em;
  }

.main {
  display: flex;
  clear: both;
  justify-content: space-around;
}

  .pdf {
    text-align: center;
    text-decoration: none;
    width: 10%;
    margin: 0 auto;
  }
.pdf img {
  width: 100px;
  border-radius: 50%;
  margin-top: 2%;
}

.photo {
  height: 40%;
  width: 40%;
  margin: 5%;
}
.left {
  float: left;
}
.right {
  float: right;
}

footer {
  clear: both;
}
