h2 {
    color: #808080;
}

a {
    color: #b3f0ff;
    text-decoration: none;
}
a:hover {
    color: #0077b3;
    text-decoration: none;
}

#contact {
    border: solid 10px #b3f0ff;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 2em;
    width: 80%;
}
#contact h2 {
  align-self: flex-start;
  margin-left: 20%;
  font-family: "satisfy", cursive;
}
#contact img {
  height: auto;
  width: 30em;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  #contact img {
    width: 25em;
  }
}
@media screen and (max-width: 540px) {
  #contact img {
    width: 20em;
  }
  h2 {
    display: flex;
    flex-flow: column;
    font-size: 80%;
  }
}
@media screen and (max-width: 430px) {
    #contact img {
      width: 15em;
    }
}
