 nav {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
 border-bottom: solid 3px #b3f0ff;
 width: 90%;
 margin: 0 auto;
 font-family: "satisfy", cursive;
}

nav a {
 font-size: 2em;
 color: #808080;
 text-decoration: none;
}
nav a:hover {
 color: pink;
}


#slider {
  border-radius: 10px;
  height: auto;
  width: 30em;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}
.fadeIn {
  animation: fadein 2s ease-out;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  #slider {
    width: 25em;
  }
}

@media screen and (max-width: 550px) {
  #slider {
    width: 20em;
  }
}
