

#container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1em;
}

.logo {
  width: 80%;
  height: 10%;
  max-width: 500px;
  min-width: 300px;
  max-height: 300px;
  min-height: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
}

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 3px #b3f0ff;
  width: 90%;
  max-width: 715px;
  margin: 0 auto;
  font-family: "satisfy", cursive;
}

 nav a {
  font-size: 6vw;
  color: #808080;
  text-decoration: none;
}
 nav a:hover {
  color: pink;
}
.current {
  background: #b3f0ff;
  padding: .2em;
  color: white;
}

#socialMedia {
  display: flex;
  justify-content: space-around;
}
#socialMedia a {
  display: flex;
  justify-content: space-around;
}
#socialMedia img {
  margin-top: 20%;
  height: 50px;
  width: 50px;
}

footer {
  border-bottom: 2px solid #b3f0ff;
  font-size: .5em;
  color: #b3f0ff;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

@media screen and (min-width: 500px) {
  nav a {
    font-size: 2em;
  }
}


/*Index style*/



#slider {
 border-radius: 10px;
 height: auto;
 width: 30em;
 display: block;
 margin: 0 auto;
 margin-top: 2em;
}
.fadeIn {
 animation: fadein 2s ease-out;
}
@keyframes fadein {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}

@media screen and (max-width: 700px) {
 #slider {
   width: 25em;
 }
}

@media screen and (max-width: 550px) {
 #slider {
   width: 20em;
 }
}

/*About style*/
#bio {
  display: grid;
  grid-template-columns: 400px 400px;
  justify-items: center;
  align-items: center;
  }

#bio p {
  grid-column-start: 1;
  font-family: "Lora";
  font-size: 16px;
  color: #808080;
  width: 75%;
}
#bio .right {
  grid-column-start: 2;
}
#bio .left {
  grid-column-start: 1;
}

  .intro::first-letter {
    font-size: 2em;
  }

#CV {
  width: 80px;
  margin-top: 10%;
  margin-left: 50%;
  margin-right: 50%;
}
.pdf {
  text-align: center;
  text-decoration: none;
  width: 10em;
  height: auto;
}
.pdf img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.photo {
  border: solid 3px #b3f0ff;
  margin: 5%;
}
.fivethree {
  height: 18em;
  width: 12em;
}
.threefive {
  height: 12em;
  width: 18em;
}
.fivefour {
  height: 18em;
  width: 15em;
}


footer {
  clear: both;
}


@media screen and (max-width: 900px) {
  #bio {
    grid-template-columns: 300px 300px;
  }
  #bio p {
    font-size: 14px;
  }
  .fivethree {
    height: 15em;
    width: 9em;
  }
  .threefive {
    height: 9em;
    width: 15em;
  }
  .fivefour {
    height: 15em;
    width: 12em;
  }
}
@media screen and (max-width: 700px) {
  #bio {
    grid-template-columns: 175px 175px;
    grid-gap: 10px;
  }
  #bio p {
    font-size: 10px;
  }
  .fivethree {
    height: 14em;
    width: 8em;
  }
  .threefive {
    height: 8em;
    width: 12em;
  }
  .fivefour {
    height: 14em;
    width: 11em;
  }
}





/*Media style*/
#wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 2em;
  justify-content: space-around;
  width: 80%;
}

#boxes {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: auto;
  width: 50vw;
  min-width: 75px;
  max-width: 150px;
  min-height: 55px;
  max-height: 125px;
  background: #b3f0ff;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-left: 10px;
  margin-right: 10px;
}
.box h1 {
    color: white;
    background: #0077b3;
    font-family: "satisfy", cursive;
    text-align: center;
    font-size: 2vw;
}
.box a {
  background: #0077b3;
  border-radius: 10px;
  padding: .25em;
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 2vw;
  max-width: 20px;
  max-height: 20px;
}
 .box a:hover {
   cursor: pointer;
   opacity: .8;
 }

 .drop:before {
   content: "\27a4";
   font-size: 2vw;
 }

#videos {
  display: flex;
  margin: 0 auto;
}


.close {
  border: none;
  background: #0077b3;
  color: white;
  width: auto;
  margin: 0 auto;
  text-decoration: none;
  padding: .5em;
}
.close:before {
  content: "\2716";
}
.close:hover {
  cursor: pointer;
}

.content {
  display: none;
  margin-left: 20%;
  margin-right: 20%;
}


@media screen and (max-width: 750px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
  iframe {
    width: 380px;
    height: auto;
  }
}
@media screen and (min-width: 700px) {
  .box h1 {
    font-size: 1em;
  }
  .box a {
    font-size: 1em;
  }
  .drop:before {
    font-size: 1em;
  }
}

/*Contact style*/



#contact {
    display: flex;
    flex-flow: column;
    margin-top: 2em;
    width: 80%;
}
#contact h2 {
  color: #808080;
  font-family: "satisfy", cursive;
  text-align: center;
  font-size: 1.5em;
}
#contact a {
    color: #b3f0ff;
    text-decoration: none;
}
#contact a:hover {
    color: #0077b3;
    text-decoration: none;
}
#contact img {
  height: auto;
  width: 20em;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  #contact img {
    width: 15em;
  }
  #contact h2 {
    display: flex;
    flex-flow: column;
  }
}
