

#container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1em;
}
header img {
  height: 20em;
  width: auto;
  margin: 0 auto;
  margin-bottom: 1em;
}

 nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 3px #b3f0ff;
  width: 90%;
  margin: 0 auto;
  font-family: "satisfy", cursive;
}

 nav a {
  font-size: 2em;
  color: #808080;
  text-decoration: none;
}
 nav a:hover {
  color: pink;
}
.current {
  background: #b3f0ff;
  padding: .2em;
  color: white;
}


footer {
  border-bottom: 2px solid #b3f0ff;
  font-size: .5em;
  color: #b3f0ff;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}

@media screen and (max-width: 700px) {
  header img {
    height: 15em;
    width: auto;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  nav a {
    font-size: 1.75em;
  }
}

@media screen and (max-width: 550px) {
  header img {
    height: 10em;
    width: auto;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  nav a {
    font-size: 1.5em;
  }
}
