#wrapper {
  display: flex;
  flex-flow: column;
  margin-top: 2em;
  justify-content: space-around;
  width: 80%;
}

#boxes {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.box {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 10em;
  width: 15em;
  background: #b3f0ff;
  border-radius: 10px;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-left: 1em;
  font-size: .5em;
}
.box h1 {
    color: white;
    background: #0077b3;
    font-family: "satisfy", cursive;
    text-align: center;
}
.box a {
  background: #0077b3;
  border-radius: 10px;
  padding: .25em;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}
 .box a:hover {
   cursor: pointer;
   opacity: .8;
 }

#videos {
  display: flex;
  margin: 0 auto;
}


.close {
  border: none;
  background: #0077b3;
  color: white;
  width: auto;
  margin: 0 auto;
  text-decoration: none;
}
.close:hover {
  cursor: pointer;
}

.content {
  display: none;
  margin-left: 20%;
  margin-right: 20%;
}


@media screen and (max-width: 750px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
  iframe {
    width: 380px;
    height: auto;
  }
}
@media screen and (max-width: 450px) {
  .box {
    min-width: 25%;
    font-size: .45em;
  }
}
