#wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}
#background {
  height: 2200px;
  background-image: url("../images/dance.JPG");
  background-size: cover;
  background-position: center;
}
.two {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 8px;
  height: 100px;
  width: 20%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background: #b3f0ff;
  font-size: 8px;
}
.box h1 {
    color: white;
    background: #0077b3;
    font-family: "satisfy";
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


.drop {
  border: none;
  background: #0077b3;
  border-radius: 8px;
  color: white;
  width: 20%;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  padding: 2%;
}
.drop:hover {
  cursor: pointer;
}

#videos {
  width: 55%;
  margin: 0 auto;
  margin-top: 5%;
}
.close {
  border: none;
  background: #0077b3;
  color: white;
  width: 560px;
  margin: 0 auto;
  text-decoration: none;
}
.close:hover {
  cursor: pointer;
}

.content {
  display: none;
}

@media screen and (max-width: 920px) {
  .two {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }
  .box {
    width: 80%;
    margin-bottom: 1%;
  }
}
